---
import { getCollection } from "astro:content";
import { SITE, ARABIC } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/MainRTL.astro";
import Header from "@components/HeaderRTL.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/SearchRTL";
import getSortedPosts from "@utils/getSortedPosts";

// Retrieve all published articles
const posts = await getCollection("ar", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));
---

<Layout dir="rtl" title={`${ARABIC.search} | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="البحث" pageDesc="">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
